__pycache__/
*.py[cod]
*.so
.DS_Store
.idea/
.vscode/

.venv/
venv/
env/

checkpoints/*
!checkpoints/README.md
dwpose_tools/models/*.pth
dwpose_tools/models/*.onnx
dwpose_tools/models/*.engine

results/
outputs/
*.mp4
*.wav
*.npy
*.pkl
*.log

